<a routerLink="/create">Create</a>
<table border="1px">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>champ</th>
    <th>kda</th>
    <th>Des</th>
    <th>Detail</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let item of players">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.champ}}</td>
    <td>{{item.kda}}</td>
    <td>{{item.des}}</td>
    <td><a [routerLink]="['/detail/' , item.id]">Detail</a></td>
    <td><a [routerLink]="['/edit/' , item.id]">Edit</a></td>
    <td><a [routerLink]="['/delete/' , item.id]">Delete</a></td>
  </tr>
</table>
