<form [formGroup]="playerForm" (ngSubmit)="back()">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="name" readonly></td>
    </tr>
    <tr>
      <td>Champ</td>
      <td><input type="text" formControlName="champ" readonly></td>
    </tr>
    <tr>
      <td>Kda</td>
      <td><input type="text" formControlName="kda" readonly></td>
    </tr>
    <tr>
      <td>des</td>
      <td><input type="text" formControlName="des" readonly></td>
    </tr>
    <tr>
      <td></td>
      <td><button>BACK TO LIST</button></td>
    </tr>
  </table>
</form>
